/*** BASIC LAYOUT ***/

body {
    font-family: "Droid Sans", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    margin-bottom: 10em;
}

.text-content {
    color: rgb(175, 161, 150);
}

body a {
    color: rgb(117, 122, 146);
}

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg");
    background-size: initial;
}

.bg-darkened {
    background: linear-gradient( rgba(55, 49, 49, 0.9), rgba(55, 49, 49, 0.9)) !important;
    border-color: rgb(55, 49, 49) !important;
}

.bg-darkbrown {
    background: rgb(108, 54, 42);
}

.bg-lightbrown {
    background: rgb(108, 54, 42);
}

.text-link-custom :visited link {
    color: rgb(254, 255, 242);
}


/*** NAV ***/

.nav-tabs .nav-link {
    border-color: rgb(55, 49, 49) !important;
}

.nav-tabs .nav-link.active {
    background: rgba(0, 0, 0, 0) !important;
}


/*** CONTENT ***/


/*** CARD ***/

.card {
    background-color: black;
}


/*** FOOTER ***/

.text-footer {
    color: rgb(192, 192, 192);
}

.bg-footer {
    background-color: rgb(103, 101, 102) !important;
}

#footer a {
    color: rgb(221, 221, 221);
}

#footer {
    font-size: 0.8rem;
}


/* unvisited link 

a:link,
a:visited {
    color: rgb(254, 255, 242);
} */


/* color farbpalette

Text: 175, 161, 150
123, 72, 43
Background: 55, 49, 49
108, 54, 42
Footer: 103, 101, 102

Alt:
Link: 171, 152, 143
Link: 211, 190, 170


*/