---
Title: Card Page Example
---

## This is a Card

Set the class to float-end (right) or float-start (left) to set the into a wall of text.

<div class="card float-end ms-3" style="width: 18rem;">
  <img class="card-img-top" src="themes/ffxivrp/img/card01Thumb.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Ambiente</h5>
    <p class="card-text">Die tolle Athmosphäre lädt zu einem entspannten Essen nach einem anstrengenden Abenteuer ein.</p>
    <a href="#" class="btn btn-secondary text-link-custom">Mehr Infos hier</a>
  </div>
</div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies tristique nulla et mattis. Phasellus id massa eget nisl congue blandit sit amet id ligula. Praesent et nulla eu augue tempus sagittis. Mauris faucibus nibh et nibh cursus in vestibulum sapien egestas. Curabitur ut lectus tortor. Sed ipsum eros, egestas ut eleifend non, elementum vitae eros. Mauris felis diam, pellentesque vel lacinia ac, dictum a nunc. Mauris mattis nunc sed mi sagittis et facilisis tortor volutpat. Etiam tincidunt urna mattis erat placerat placerat ac eu tellus. Ut nec velit id nisl tincidunt vehicula id a metus. Pellentesque erat neque, faucibus id ultricies vel, mattis in ante. Donec lobortis, mauris id congue scelerisque, diam nisl accumsan orci, condimentum porta est magna vel arcu. Curabitur varius ante dui. Vivamus sit amet ante ac diam ullamcorper sodales sed a odio.
